@import '../../styles.scss';

$padding: 45px;
$maxWidth: 1440px;

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: $maxWidth;
  padding-right: $padding;
  padding-left: $padding;
}

.header {
  &__firstRow {
    background-color: $darkBlue;
    height: 50px;
  }
  &__secondRow {
    background-color: $cadetBlue;
    height: 20px;
  }
}

.logo {
  position: absolute;
  top: 25px;
}
