.filetype {
  display: none;
}

.choose__avatar {
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid;
  width: 276px;
  height: 47px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.form {
  &__input {
    width: 70% !important;
  }
  &__section {
    display: flex;
  }
}
